<% provide(:title, @traveler.first_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @traveler %>
        <%= @traveler.last_name %>
      </h1>
    </section>
  </aside>
 <div class="span8">
    <% if @traveler.comments.any? %>
      <h3>Comments (<%= @traveler.comments.count %>)</h3>
      <ol class="comments">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>